*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  background: #131F39;
  /* height: 100vh; */
  /* background: #0C1117; */
  /* #04080C */
  /* #131F39 */
}



.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #4a90e2;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 16px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}